@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      180deg,
      hsla(0, 1%, 21%, 1),
      hsla(240, 32%, 30%, 1) 50%,
      hsla(237, 48%, 26%, 1) 100%
    );
      /* Set body height to 100% of viewport height */
    min-height: 100vh; /* Ensure body takes up at least the height of the viewport */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
